@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1060px) {
    @content;
  }
}

.have {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-inline: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include on-tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 732px;
    margin-inline: auto;
  }
  @include on-desktop {
    flex-wrap: nowrap;
    max-width: none;
  }
}

.title {
  color: white;
  text-align: center;
  font-size: 30px;
  max-width: 558px;
  margin-inline: auto;
  text-shadow: 1px 1px 1px black;

  @include on-tablet {
    font-size: 40px;
  }
  @include on-desktop {
    font-size: 60px;
  }
}

.fromMe {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 80px;
  max-width: 558px;
  margin-inline: auto;
  text-shadow: 1px 1px 1px black;

  @include on-tablet {
    font-size: 25px;
  }
}

.haveItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  @include on-tablet {
    max-width: 290px;
  }

  @include on-desktop {
    max-width: none;
  }
}

.info {
  color: white;
  text-align: center;
  width: 70%;
  margin-top: 5px;
  text-shadow: 1px 1px 1px black;

  @include on-tablet {
    font-size: 20px;
  }
}

.ico {
  width: 50%;
}
